src/Java/HotelBooking/.idea/
src/Java/HotelBooking/out/
src/Go/hotelbookingservice/hotelbookingservice
src/Go/hotelbookingservice/hotelbookingservice.exe
src/Go/hotelbookingservice/config/dbconfig.json
src/Node/npm-debug.log
src/Node/node_modules/
